node_modules/
target/
_out/
gen/

.cdsrc-private.json
default-*.json
*.sqlite

# Secrets / local env
.env
*.mtaext
!*.mtaext.example

# MTA
mta_archives/
*_mta_build_tmp
*.mtar

# Approuter static shell - generated at build time from app/ (see mta.yaml)
app/router/resources/

# Other
.DS_Store

# @cap-js/cds-typer
@cds-models
